{# templates/default/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Symfony</title>
</head>
<body>
<h1>Welcome to EstaCooking</h1>
<p>This is your homepage built with Symfony and Twig! {{ prueba }}</p>
</body>
</html>
